services:
  pocketbase:
    build: .
    container_name: pocketbase
    restart: unless-stopped
    ports:
      - "8090:8090"
    volumes:
      - ./pb_data:/usr/local/bin/pb_data
      - ./pb_public:/usr/local/bin/pb_public
      - ./pb_hooks:/usr/local/bin/pb_hooks
