@import 'vars';

.uud-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 10px 16px;
  width: 100%;
  background: $Orange;
  position: sticky;
  top: 0;
  z-index: 1000;

  // - - - - - - - - - - - -  LEFT - - - - - - - - - - - - -
  .left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: fit-content;
    color: $Dark;
    height: fit-content;
    border: none;
    gap: 6px;
    transition: all 0.2s ease;

    .logomark {
      width: 38px;
      height: 100%;
      transition: all 0.2s ease;
    }

    .logotype {
      width: 64px;
      height: 100%;

   @media screen and (max-width: 540px) {
     display: none;
  }
    }

    &:hover {
      // color: $White;
      transition: all 0.2s ease;

      .logomark {
        scale: 1.15;
      }
    }

  }

  // - - - - - - - - - - - -  CENTER - - - - - - - - - - - - 
  .center-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .nav-btn {
      padding: 0;
      border-radius: 0;
      background-color: transparent;
       transition: all 0.2s ease;

      &:hover{
        color: $Dark;
         transition: all 0.2s ease;

        svg{
          color: $Dark;
           transition: all 0.2s ease;
           scale: 1.3;
        }
      }
    }
  }

  // - - - - - - - - - - - -  RIGHT - - - - - - - - - - - - 
  .right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .auth-actions {
      display: flex;
      align-items: center;
      gap: 6px;

      .button{
      height: 44px;
      padding:  2px 12px;
      background-color: $Dark;
      color: $Orange;
      border-color: $Dark;

      span{
      font-size: 17px;
      }

      svg{
        display: none;
        width: 24px;
        min-width: 24px;
      }

      &:hover{
        background-color: transparent;
        color: $Dark;
        border-color: $Dark;
      }
    }
  }

    .avatar {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      object-fit: cover;
      transition: all 0.2s ease;

      &:hover {
        transition: all 0.2s ease;
        scale: 1.1;
      }
    }
  }

}
