@import 'vars';


.uud-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 10px 16px;
  width: 100%;
  background: $Orange;
  background: var(--page-color);
  position: sticky;
  top: 0;
  z-index: 1000;

  // - - - - - - - - - - - -  LEFT - - - - - - - - - - - - -
  .left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 120px;
    color: $Dark;
    height: fit-content;
    border: none;
    gap: 6px;
    transition: all 0.2s ease;

    .logomark {
      width: 38px;
      height: 100%;
      transition: all 0.2s ease;
    }

    .logotype {
      width: 64px;
      height: 100%;

   @media screen and (max-width: 540px) {
     display: none;
  }
    }

    &:hover {
      // color: $White;
      transition: all 0.2s ease;

      .logomark {
        scale: 1.15;
      }
    }

  }

  // - - - - - - - - - - - -  CENTER - - - - - - - - - - - - 
  .center-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .nav-btn {
      padding: 0;
      border-radius: 0;
      background-color: transparent;
       transition: all 0.2s ease;

      &:hover{
        color: $Dark;
         transition: all 0.2s ease;

        svg{
          color: $Dark;
           transition: all 0.2s ease;
           scale: 1.3;
        }
      }
    }
  }

  // - - - - - - - - - - - -  RIGHT - - - - - - - - - - - - 
  .right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
     width: 120px;

     .avatar-btn{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      width: 44px;
      height: 44px;
      cursor: pointer;
     }

    .auth-actions {
      display: flex;
      align-items: center;
      gap: 6px;

      .button{
      justify-content: center;
      height: 40px;
      padding:  2px;
      color: $Dark;
      border-color: $Dark;
      background-color: transparent;

      span{
      font-size: 17px;
      }

      svg{
        display: none;
        width: 24px;
        min-width: 24px;
      }

      &:hover{
        background-color: $Dark;
        color: var(--page-color);
        border-color: $Dark;
      }
    }
  }

    .avatar {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      object-fit: cover;
      transition: all 0.2s ease;

      &:hover {
        transition: all 0.2s ease;
        scale: 1.1;
      }
    }
  }

}


// - - - - - - - - - - - -
.layout-hero {
  display: flex;
  align-items: flex-start;
  width: 100%;

  .sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 6px;
  width: 100%;
  max-width: 340px;
  min-width: 280px;
  background: $White;
  border-radius: 12px;
  padding: 32px;
  position: sticky;
  top: 80px;
  align-self: flex-start;
  height: calc(100vh - 96px);
  overflow: hidden;
  // background-color: aliceblue;
  }

  .content-box {
    display: block;
    width: 100%;
    min-height: calc(100vh - 78px);
    flex: 1;
    background-color: #F5F6FA;
    padding: 16px;
    box-sizing: border-box;

  .fav-section {
    margin-bottom: 16px;
  }

   .section-head {
    display: flex;
    align-items: center;
    justify-content: sstart;
    gap: 8px;
    margin-bottom: 8px;
    padding-left: 8px;

    span {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 24px;
    height: 32px;
    }
  }

   .section-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--page-color);
  }

  }

}